require File.expand_path('../boot', __FILE__)

require 'wagn/all'

module UbosAppConfig
  class Application < Wagn::Application

    # Wagn inherits Rails configuration options.  See http://guides.rubyonrails.org/configuring.html

    config.recaptcha_public_key  = '${installable.customizationpoints.recaptcha_public_key.value}'
    config.recaptcha_private_key = '${installable.customizationpoints.recaptcha_private_key.value}'
    # config.recaptcha_proxy = ...

    # config.read_only = true
    # defaults to false
    # disallows creating, updating, and deleting cards.

    config.cache_store = :dalli_store, '127.0.0.1:11211'
    # determines caching mechanism.  options include: file_store, memory_store, mem_cache_store, dalli_store...
    #
    # for production, we highly recommend memcache
    # here's a sample configuration for use with the dalli gem
    # config.cache_store = :dalli_store, []

    # config.paths['files'] = 'files'
    # where uploaded files are actually stored. (eg Image and File cards)

    # config.paths['local-mods'] = 'mods'
    # where mods are stored

    # config.allow_inline_styles = false
    # don't strip style attributes (not recommended)

    # config.override_host = nil
    # don't autodetect host (example.com) from web requests

    # config.override_protocol = nil
    # don't autodetect protocol (http/https) from web requests

    config.email_defaults = { :from => '${installable.customizationpoints.sender_email.value}' }

    config.action_dispatch.default_headers = {
      'X-Frame-Options' => 'ALLOWALL'
    }

    config.paths['log'] = "/var/log/decko/${site.hostname}-${appconfig.appconfigid}.log"

    config.action_mailer.smtp_settings = { :address => 'localhost' }

  end
end
